Redirect 301 /ads.txt https://a.pub.network/basketball-gm-com/ads.txt

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/(.well-known)(/|$)
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404/index.html

Redirect 301 /about http://zengm.com/about
Redirect 301 /advertise http://zengm.com/contact
Redirect 301 /blog http://zengm.com/blog
Redirect 301 /changelog https://zengm.com/changelog
Redirect 301 /contact https://zengm.com/contact
Redirect 301 /logos https://zengm.com/logos
Redirect 301 /manual/faq/ /faq/
Redirect 301 /feed/index.xml https://zengm.com/blog/feed.xml
Redirect 301 /presskit http://zengm.com
Redirect 301 /privacy-policy http://zengm.com/privacy
Redirect 301 /share http://zengm.com
