---
layout: page-or-post
title: Blog
pagination:
  enabled: true
---
{%- include blog-teaser.html -%}

{%- for post in paginator.posts -%}
  {%- include post.html post=post -%}
{%- endfor -%}

{% if paginator.total_pages > 1 %}
  <div style="text-align: center">
    <ul class="pagination">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo;</a></li>
      {% endif %}

      {% if paginator.page_trail %}
        {% for trail in paginator.page_trail %}
          <li {% if page.url == trail.path %}class="active"{% endif %}>
            <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
          </li>
        {% endfor %}
      {% endif %}

      {% if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | prepend: site.baseurl }}">&raquo;</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
