.comma-list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}  
.comma-list li {
  display: inline;
}
.comma-list li::after {
    content: ", ";
}
.comma-list li:last-child::after {
  content: "";
}

.pagination .page-item.active .page-link {
  background-color: var(--logo-purple) !important;
}
