@import "../../node_modules/bootstrap-dark-4/dist/bootstrap-night";

h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}

:root {
	--orange: #f05742;
	--purple-dark: #695fab;
	--purple-light: #a89aff;
	--bg-1: #222222;
	--bg-2: #3b3b3b;
}

.bg-alt {
	background-color: var(--bg-2);
}

a, a:hover {
	color: var(--purple-light);
}

.text-highlight {
	color: var(--orange);
}

ol {
	margin-left: -40px;
}

ul {
	margin-left: -40px;
	list-style: none;
	margin-bottom: 0;
}

ul li::before {
	content: "\2022";
	color: var(--orange);
	font-weight: bold;
	display: inline-block;
	width: 20px;
	margin-left: -20px;
}

.footer {
    font-size: smaller;

    ul li::before {
        content: inherit;
    }

    .footer-sport-logo {
        position: absolute;
        left: -11px;
        top: 1px;
        text-align: right;
    }

    // https://stackoverflow.com/a/53336754/786644
    .footer-social {
        width: 18px;
        height: 18px;
        filter: invert(100%) sepia(67%) saturate(281%) hue-rotate(292deg) brightness(87%) contrast(85%);
    }
    .footer-social:hover, .footer-social:active {
        filter: invert(100%) sepia(4%) saturate(3%) hue-rotate(253deg) brightness(110%) contrast(100%);
    }

	@media (min-width: 576px) {
		.container {
			border-left: 1px solid var(--bg-1);
			border-right: 1px solid var(--bg-1);
		}
	}

	@media (max-width: 575.98px) {
		.row {
			margin-left: 1em;
		}
	}
	
	.newsletter {
		margin-top: 100px;
	}
}

.top-nav {
    background-color: #3b3b3b;

	.breadcrumb {
		background-color: inherit;
	}
	
	#face {
		height: 48px;
		width: 36px;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
	}
}
