@import "../../node_modules/bootstrap-dark-4/dist/bootstrap-night";

h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}

:root {
	--orange: #f05742;
	--purple-dark: #695fab;
	--purple-light: #a89aff;
	--bg-1: #222222;
	--bg-2: #3b3b3b;
}

a, a:hover {
	color: var(--purple-light);
}

.text-highlight {
	color: var(--orange);
}
