@import "../../node_modules/bootstrap-dark-4/dist/bootstrap-nightshade";

// nightshade doesn't include the normal Bootstrap CSS variables, for some reason. So I included them here.
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}
.dark {
	--blue: #375a7f;
	--indigo: #6610f2;
	--purple: #654ea3;
	--pink: #e83e8c;
	--red: #e74c3c;
	--orange: #fd7e14;
	--yellow: #f39c12;
	--green: #00bc8c;
	--teal: #45b5aa;
	--cyan: #17a2b8;
	--white: #fafafa;
	--gray: #7e7e7e;
	--gray-dark: #121212;
	--primary: #375a7f;
	--secondary: #626262;
	--success: #00bc8c;
	--info: #17a2b8;
	--warning: #f39c12;
	--danger: #e74c3c;
	--light: #7e7e7e;
	--dark: #3b3b3b;
}

:root {
	--logo-orange: #f05742;
	--orange: #{darken(#f05742, 10%)};
	--purple-dark: #{darken(#695fab, 10%)};
	--purple-light: #{darken(#a89aff, 20%)};
	--bg-1: #fdfdfd;
	--bg-2: #e8e8e8;
}
.dark {
	--orange: #f05742;
	--purple-dark: #695fab;
	--purple-light: #a89aff;
	--bg-1: #222222;
	--bg-2: #3b3b3b;
}

h1 {
	font-size: 24px;
}
h2 {
	font-size: 20px;
	color: var(--orange);
}
h3 {
	font-size: 16px;
	color: var(--orange);
}

@media (min-width: 960px) {
	.container {
		max-width: 960px;
	}
}

.bg-alt {
	background-color: var(--bg-2);
}

a,
a:hover {
	color: var(--purple-light) !important;
}

.text-highlight {
	color: var(--orange);
}

ol {
	margin-left: -40px;
}

ul {
	margin-left: -40px;
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: var(--orange);
	font-weight: bold;
	width: 20px;
	margin-left: -20px;

	// So a <p> inside an <li> works, do this instead of inline-block
	float: left;
}

@media (max-width: 767px) {
	ul li::before {
		margin-left: 0;
	}
	ol {
		margin-left: -23px;
	}
}

.footer {
	font-size: smaller;

	ul li::before {
		content: inherit;
	}

	.footer-sport-logo {
		position: absolute;
		left: -11px;
		top: 1px;
		text-align: right;
	}

	.footer-social {
		width: 18px;
		height: 18px;
	}

	@media (min-width: 1000px) {
		.container {
			border-left: 1px solid var(--bg-1);
			border-right: 1px solid var(--bg-1);
		}
	}

	@media (max-width: 575.98px) {
		.row {
			margin-left: 1rem;
		}
	}

	.newsletter {
		margin-top: 100px;
	}

	h2 {
		font-size: 18px;
		color: inherit;
	}
}

// https://stackoverflow.com/a/53336754/786644
.dark {
	.footer-social {
		filter: invert(100%) sepia(67%) saturate(281%) hue-rotate(292deg)
			brightness(87%) contrast(85%);
	}
	.footer-social:hover,
	.footer-social:active {
		filter: invert(100%) sepia(4%) saturate(3%) hue-rotate(253deg)
			brightness(110%) contrast(100%);
	}
}
.light {
	.footer-social {
		// Target: var(--secondary)
		filter: invert(46%) sepia(16%) saturate(252%) hue-rotate(167deg) brightness(94%) contrast(89%);
	}
	.footer-social:hover,
	.footer-social:active {
		// Target: #212529
		filter: invert(13%) sepia(8%) saturate(687%) hue-rotate(169deg) brightness(97%) contrast(97%);
	}
}

.top-nav {
	background-color: var(--bg-2);

	.breadcrumb {
		background-color: inherit;
	}

	#face {
		height: 48px;
		width: 36px;
		cursor: pointer;
		user-select: none;
		-webkit-user-select: none;
	}

	.top-nav-item {
		// Didn't actually look good, and caused alignment issues with sport dropdown
		/*&::before {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			color: #9e9e9e;
			content: "/";
		}*/

		margin-left: 0.5rem;

		img {
			vertical-align: -3px;
		}
	}

	.top-nav-separator {
		color: #9e9e9e;
	}
}

ul.newline-between {
	li {
		margin-bottom: 1rem;
	}
}

.skill {
	cursor: default;
	font-size: 12px;
	margin-left: 5px;
}

.skills-alone {
	margin-left: -5px;
}

pre {
	background-color: var(--bg-2);
	padding: 0.5rem;
	border-radius: 0.25rem;
	border: 1px solid var(--secondary);
}
