<script>
const head = document.head || document.getElementsByTagName("head")[0];
const script = document.createElement("script");
script.async = true;
script.type = "text/javascript";

script.addEventListener("load", function () {
    if (window.onFacesJS) {
        window.onFacesJS();
    }
});

script.src = "{% if env.NODE_ENV == "production" %}https://zengm.com{% endif %}{{ "/js/facesjs-3.5.0.js" | addHash }}";

head.appendChild(script);
</script>
