{% if env.NODE_ENV == "production" %}
  {% if sport == "basketball" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38759330-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'default', {
      ad_storage: 'granted',
      ad_user_data: 'granted',
      ad_personalization: 'granted',
      analytics_storage: 'granted'
    });
    gtag('js', new Date());
    gtag('config', 'UA-38759330-1', {
      'cookie_domain': 'basketball-gm.com'
    });
    </script>
  {% elif sport == "football" %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38759330-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'default', {
      ad_storage: 'granted',
      ad_user_data: 'granted',
      ad_personalization: 'granted',
      analytics_storage: 'granted'
    });
    gtag('js', new Date());
    gtag('config', 'UA-38759330-2', {
      'cookie_domain': 'football-gm.com'
    });
    </script>
  {% else %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38759330-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('consent', 'default', {
      ad_storage: 'granted',
      ad_user_data: 'granted',
      ad_personalization: 'granted',
      analytics_storage: 'granted'
    });
    gtag('js', new Date());
    gtag('config', 'UA-38759330-3', {
      'cookie_domain': 'zengm.com'
    });
    </script>
  {% endif %}
{% endif %}
