<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% include "head-common.njk" %}
    <title>{{ title }} &laquo; {% if parent %}{{ parent | parentTitle }} &laquo; {% endif %}{% for page in navPages %}{{ page.title }} &laquo; {% endfor %}{% sportTitle sport %}</title>
  </head>
  <body class="h-100">
<div class="h-100 d-flex flex-column">
  <div class="mb-3 top-nav">
    <div class="container-lg d-flex">
      <div id="face" class="face"></div>
      <nav class="d-flex align-items-center w-100">
        <a href="/">ZenGM</a>
        {% sportPicker sport %}
        {% if not sport %}<div class="top-nav-item top-nav-separator">/</div>{% endif %}
        {% for page in navPages %}
          <div class="d-none d-sm-block top-nav-item">
            <a href="{{ page.url }}">{{ page.title }}</a>
          </div>
          <div class="d-none d-sm-block top-nav-item top-nav-separator">/</div>
        {% endfor %}
        <div class="top-nav-item">
          {% if parent %}
            <a href="{{ parent | parentURL(sport) }}">{{ parent | parentTitle }}</a>
          {% elif not sport %}
            {{ title }}
          {% endif %}
        </div>
        <div class="ms-auto h-100">
          {% include "theme-switch.njk" %}
        </div>
      </nav>
    </div>
  </div>

  {% if showBlogTeaser %}
    <aside class="container-lg">
      {% include "blog-teaser.njk" %}
      <hr>
    </aside>
  {% endif %}

  <main role="main" class="{% if fullWidth %}mx-3{% else %}container-lg{% endif %}">
    {% if sport or parent %}
      <h1>{{ title }}</h1>
      {% if not hideLineUnderTitle %}
        <hr>
      {% endif %}
    {% endif %}
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</div>

</body>
{% include "facesjs.njk" %}
<script>
window.onFacesJS.push(function () {
  var div = document.getElementById("face");

  function genFaceAndDisplay() {
    var face = genFace("{{ sport }}");
    faces.display(div, face);
  }

  genFaceAndDisplay();
  div.addEventListener("click", genFaceAndDisplay);
});
</script>
</html>
