<li><p><span class="headline text-highlight">Completely free</span><br>
No in-game purchases, no "pay to win", no microtransactions. You don't even have to log in or make an account to play.</p></li>

<li><p><span class="headline text-highlight">Customizable</span><br>
Our games are deeply customizable through an in-game "God Mode" or custom league files. We also make our <a href="https://github.com/zengm-games">source code</a> available so you can see how our games work and play around with the internals.</p></li>

<li><p><span class="headline text-highlight">Minimal micromanagement</span><br>
Simulation games need depth, but they need the right amount of depth with a UI to help you make sense of it. We seek to avoid mandatory micromanagement as much as possible. Video games should be fun, not tedious.</p></li>

<li><p><span class="headline text-highlight">Web-based</span><br>
Play our games in any web browser on any device. Desktop, laptop, tablet, mobile - it all works. No downloads, no installation, no special permissions needed.</p></li>
