<p><span class="headline text-highlight">Customizable</span><br>
Our games are deeply customizable through an in-game "God Mode" or custom league files. We also make our <a href="https://github.com/zengm-games">source code</a> available so you can see how our games work and play around with the internals.</p>

<p><span class="headline text-highlight">Web-based</span><br>
Play our games in any web browser on any device. Desktop, laptop, tablet, mobile - it all works. No downloads, no installation, no special permissions needed.</p>
