<!doctype html>
<html lang="en">
	<head>
	{% include "head-common.njk" %}

	<title>{{ gameName }} - Free online single-player {{ sport }} management simulation video game</title>

  <meta name="description" content="Free single-player {{ sport }} management simulation video game game. Build your team into a dynasty, right from your web browser!">

  <script async src="{{ "/js/carousel.js" | addHash }}"></script>

	<style>
.splash-header {
	background-color: var(--logo-purple);
  color: #fff;
  padding: 0.5rem 0;
}

.dark .logo {
  filter: invert(99%) sepia(2%) saturate(92%) hue-rotate(136deg) brightness(115%) contrast(100%);
}

.play {
  font-size: 36px;
}

.fade-in {
  animation: fadeIn ease 0.4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.fade-out {
  animation: fadeOut ease 0.4s;
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

.feedback-button {
  background-color: inherit;
  border: 0;
  padding: 0 0.25rem;
  width: 24px;
  height: 24px;
}

.feedback-button img {
  vertical-align: 0;
}

#feedback {
{% if sport === "football" %}
  min-height: 96px;
{% else %}
  min-height: 72px;
{% endif %}
}

.theme-switch-wrapper {
	position: absolute;
  top: -0.5rem;
{% if sport === "football" %}
  left: 0;
{% else %}
  right: 0;
{% endif %}
  z-index: 99999;
	width: 48px;
	height: 48px;
}

.carousel-item h3 {
  color: var(--orange);
}
.carousel-item h3, .splash-header {
  font-size: 20px;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.carousel-item img {
  display: block;

  /* https://www.smashingmagazine.com/2020/03/setting-height-width-images-important-again/ - same as img-fluid */
  width: 100%;
  height: auto;
}

.light .carousel-control-next, .light .carousel-control-prev {
    filter: invert(100%);
}

.lead {
  font-size: 16px;
}
@media screen and (min-width: 576px) {
  .carousel-item h3, .splash-header {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
  .carousel-item h3, .splash-header {
    font-size: 30px;
  }
  .play .btn {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .lead {
    font-size: 20px;
  }
  .carousel-item h3, .splash-header {
    font-size: 34px;
  }
}

.skinny {
  max-width: 960px;
  margin: 0 auto;
}

.face {
  height: 90px;
  {% set FACE_WIDTH = 76 %}
  width: {{ FACE_WIDTH }}px;
}
#faces {
  height: 90px;
}
	</style>
	</head>
    <body>
<h1 class="d-none d-sm-block splash-header mb-0">Run Your Own {{ sport | title }} Team - Play Free Online</h1>

<div class="container-xl mt-2 mt-sm-3 mt-md-4">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-5 col-md-12 position-relative">
            <div class="theme-switch-wrapper float-end float-sm-start">
              {% include "theme-switch.njk" %}
            </div>
            <img src="/files/logo-{{ sport }}.svg" class="logo img-fluid" width="{% bySport 2304, 762, 643, 1015, sport %}" height="{% bySport 1513, 443, 358, 565, sport %}" alt="{{ gameName }}">
        </div>
        <div class="col-sm-7 col-md-12 mt-3">
            <p class="lead">Have you ever looked at the decisions made by the front office of an {{ proLeagueAbbrev }} team and thought you could do better? Well, now you can! In <a href="{{ websitePlay }}"><b>{{ gameName }}</b></a>, you are the general manager of a {{ sport }} team.</p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div id="carousel-screenshots" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          {% if sport == "basketball" %}
            <div class="carousel-item active">
              <h3>Real rosters for any season<span class="d-none d-sm-inline"> in history</span>.</h3>
              <img data-index="0" width="730" height="375" alt="Screenshot">
            </div>
          {% endif %}
          <div class="carousel-item{% if sport != "basketball" %} active{% endif %}">
            <h3>Detailed scouting reports and stats.</h3>
            <img data-index="1" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Manage your roster.</h3>
            <img data-index="2" width="730" height="375" alt="Screenshot">
          </div>
          {% if sport == "hockey" %}
            <div class="carousel-item">
              <h3>Set your lines.</h3>
              <img data-index="15" width="730" height="375" alt="Screenshot">
            </div>
          {% endif %}
          <div class="carousel-item">
            <h3>Guide your team to the playoffs.</h3>
            <img data-index="3" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>...and to a championship!</h3>
            <img data-index="4" width="730" height="375" alt="Screenshot">
          </div>
          {% if sport != "football" %}
            <div class="carousel-item">
              <h3>Tanking is allowed.</h3>
              <img data-index="5" width="730" height="375" alt="Screenshot">
            </div>
          {% endif %}
          <div class="carousel-item">
            <h3>...but try not to get fired!</h3>
            <img data-index="6" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Plan ahead to manage the {% if sport === "baseball" %}luxury tax{% else %}salary cap{% endif %}.</h3>
            <img data-index="7" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Keep track of your <span class="d-sm-none">finances</span><span class="d-none d-sm-inline">revenue and expenses</span>.</h3>
            <img data-index="8" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Build your legacy.</h3>
            <img data-index="9" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Play-by-play live box scores.</h3>
            <img data-index="10" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Team and player advanced stats.</h3>
            <img data-index="11" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Legendary players make the <span class="d-sm-none">HoF</span><span class="d-none d-sm-inline">Hall of Fame</span>.</h3>
            <img data-index="12" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Deeply customizable.</h3>
            <img data-index="13" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Graph any data.</h3>
            <img data-index="16" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Search through historical stats.</h3>
            <img data-index="17" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Tons of tools for analysis.</h3>
            <img data-index="18" width="730" height="375" alt="Screenshot">
          </div>
          <div class="carousel-item">
            <h3>Create as many leagues as you want.</h3>
            <img data-index="14" width="730" height="375" alt="Screenshot">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-screenshots" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-screenshots" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="bg-alt text-center pt-4 pt-lg-5 my-4 my-lg-5">
  <a class="btn btn-lg btn-success play mb-2 mb-lg-3" href="{{ websitePlay }}" id="start-playing-now">Start Playing Now</a>
  <div id="faces" class="d-flex justify-content-center overflow-hidden"></div>
</div>

<div class="container-fluid skinny mb-3 mb-lg-4">
  <div class="row">
    <div class="col-sm-6">
      <h2>You Set The Strategy</h2>
      <p>Running a {{ sport }} team requires you to make tough decisions.</p>
      <ul>
        <li>Should you re-sign a veteran player, or {% if sport === "baseball" %}save the money for a free agent{% else %}leave cap space open to sign a free agent{% endif %}?</li>
        <li>Should you draft a raw player who could be a star, or someone who can contribute right away?</li>
        <li>Should you trade away next season's draft pick for a player who can help you win now, or stockpile assets for the future?</li>
        <li>Should you raise ticket prices and annoy your fans, or can you cut part of your budget instead?</li>
      </ul>
      <p>Make the right choices and you can build a dynasty. But make the wrong choices and you'll get fired!</p>
    </div>

    <div class="col-sm-6">
      <h2>It's Actually Free</h2>
      <p>{{ gameName }} is 100% free and unlimited. <span class="text-highlight">No virtual currency, no microtransactions, no pay to win.</span> You can create as many leagues as you want and play as many seasons as you want, all without even creating an account.</p>
      <p>I know, you've been burned in the past by other "free" games. I know, you think there's some catch. But we really are different, and we've been that way <a href="/about/">ever since we started in 2008</a>.</p>
      <h2>
        <div class="d-flex">
          <span class="me-2">Real User Feedback</span>
          <button id="feedback-prev" class="feedback-button black-icon" aria-label="Previous"><img src="/files/bootstrap-icons/arrow-left-short.svg" width="24" height="24" alt="Previous"></button>
          <button id="feedback-pause" class="feedback-button black-icon" aria-label="Pause"><img src="/files/bootstrap-icons/pause.svg" width="24" height="24" alt="Pause"></button>
          <button id="feedback-play" class="feedback-button black-icon" style="display: none" aria-label="Resume"><img src="/files/bootstrap-icons/play.svg" width="24" height="24" alt="Resume"></button>
          <button id="feedback-next" class="feedback-button black-icon" aria-label="Next"><img src="/files/bootstrap-icons/arrow-right-short.svg" width="24" height="24" alt="Next"></button>
        </div>
      </h2>
      <p id="feedback"></p>
    </div>
  </div>
</div>

{% include "footer.njk" %}

<script>
var feedbacks = {{ feedbacks | safe }};

var elFeedback = document.getElementById("feedback");

var iFeedback = Math.floor(Math.random() * feedbacks.length)

function updateFeedback() {
  var feedback = feedbacks[iFeedback];
  elFeedback.innerHTML = '"' + feedback.text + '"<br>- <a href="' + feedback.url + '">' + feedback.name + '</span></a>';
  iFeedback = (iFeedback + 1) % feedbacks.length;
}
updateFeedback();

var feedbackIntervalId;
var state = "play";

function startFeedback() {
  state = "play";
  feedbackIntervalId = setTimeout(function () {
    elFeedback.classList.add("fade-out");
    elFeedback.addEventListener("animationend", () => {
      updateFeedback();
      elFeedback.classList.remove("fade-out");
      elFeedback.classList.add("fade-in");
      elFeedback.addEventListener("animationend", () => {
        elFeedback.classList.remove("fade-in");
        if (state === "play") {
          startFeedback();
        }
      }, {
        once: true,
      });
    }, {
      once: true,
    });
  }, 6000);
}
startFeedback();

// Controls
var elFeedbackPlay = document.getElementById("feedback-play");
var elFeedbackPause = document.getElementById("feedback-pause");
elFeedbackPlay.addEventListener("click", function () {
  elFeedbackPlay.style.display = "none";
  elFeedbackPause.style.display = "inline-block";
  startFeedback();
});
elFeedbackPause.addEventListener("click", function () {
  elFeedbackPlay.style.display = "inline-block";
  elFeedbackPause.style.display = "none";
  clearTimeout(feedbackIntervalId);
  state = "pause";
});
document.getElementById("feedback-prev").addEventListener("click", function () {
  clearTimeout(feedbackIntervalId);
  state = "pause";
  iFeedback -= 2;
  iFeedback = ((iFeedback % feedbacks.length) + feedbacks.length) % feedbacks.length; // http://stackoverflow.com/a/3417242/786644
  updateFeedback();
  if (elFeedbackPlay.style.display === "none") {
    startFeedback();
  }
});
document.getElementById("feedback-next").addEventListener("click", function () {
  clearTimeout(feedbackIntervalId);
  state = "pause";
  updateFeedback();
  if (elFeedbackPlay.style.display === "none") {
    startFeedback();
  }
});

var theme = getTheme();

var carouselImages = document.querySelectorAll(".carousel-item img");

window.onNewTheme = function (newTheme) {
  theme = newTheme;
  for (let i = 0; i < carouselImages.length; i++) {
    var img = carouselImages[i];
    var prevTheme = theme === "light" ? "dark" : "light";

    // "includes" because it gets prefixed with the domain name
    if (img.src.includes(prevTheme)) {
      img.src = img.src.replace(prevTheme, theme);
    }
  }
};

if (theme === "dark") {
  window.onNewTheme("dark");
}

function showImagesStartingWith(index) {
  // Load images from index to index + 1
  for (var i = index; i <= index + 1; i++) {
    var img = carouselImages[i % carouselImages.length];
    const src = "{% if env.NODE_ENV == "production" %}https://zengm.com{% endif %}/files/carousel/{{ sport }}-" + theme + "-" + img.dataset.index + ".avif";

    // "includes" because it gets prefixed with the domain name
    if (!img.src.includes(src)) {
      img.src = src;
    }
  }
}

function hideImage(index) {
  var img = carouselImages[index];
  img.src = "";
}

showImagesStartingWith(0);

document.getElementById("carousel-screenshots").addEventListener('slide.bs.carousel', function(event) {
  // Load upcoming image (should already be pre-loaded, but whatever) and the next image
  showImagesStartingWith(event.to);
}, false);
document.getElementById("carousel-screenshots").addEventListener('slid.bs.carousel', function(event) {
  // Hide the image that just went away
  hideImage(event.from);
}, false);
</script>

{% include "facesjs.njk" %}
<script>
window.onFacesJS.push(function () {
  const facesContainer = document.getElementById("faces");
  const numFaces = Math.ceil(document.documentElement.clientWidth / {{ FACE_WIDTH }});

  const teamColorsAll = {{ teamColors | dump | safe }};

  {% if sport == "basketball" %}
    const easterEgg = {{ davidMcGillian | dump | safe }};
    const easterEggIndex = Math.floor(Math.random() * numFaces);
  {% elif sport == "football" %}
    const easterEgg = {{ malik | dump | safe }};
    const easterEggIndex = Math.floor(Math.random() * numFaces);
  {% endif %}

  for (let i = 0; i < numFaces; i++) {
    const faceContainer = document.createElement("div");
    faceContainer.classList.add("face");
    faceContainer.classList.add("px-2");
    faceContainer.classList.add("flex-shrink-0");
    facesContainer.appendChild(faceContainer);

    {% if (sport === "basketball") or (sport === "football") %}
      if (i === easterEggIndex) {
        faces.display(faceContainer, easterEgg);
        continue;
      }
    {% endif %}

    function genFaceAndDisplay() {
      var face = genFace("{{ sport }}", teamColorsAll[Math.floor(Math.random() * teamColorsAll.length)]);
      faces.display(faceContainer, face);
    }

    genFaceAndDisplay()
    faceContainer.addEventListener("click", genFaceAndDisplay);
  }
});
</script>
    </body>
</html>
