---
layout: layout.njk
eleventyComputed:
  title: "Posts tagged \"{{ tag }}\""
parent: blog
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
  addAllPagesToCollections: true
permalink: /blog/tag/{{ tag | slug }}/
showBlogTeaser: true
---
<link href="{{ "/css/blog.css" | addHash}}" rel="stylesheet">

{% import "blog-macros.njk" as blogMacros %}

{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  {{ blogMacros.postHeader(post.url, post.data.title, post.date, post.data.tags) }}
  {{ blogMacros.postExcerpt(post) }}
  <hr>
{%- endfor -%}
