---
layout: layout.njk
title: Changelog
---

{% set css %}
    {% include "changelog.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>

<ul class="changelog">
  {% for entry in changelog %}
  <li
    {% if entry.big %} class="text-highlight"{% endif %}>
    {{ entry.date }}: {{ entry.text | renderUsingMarkdown | safe}}
  </li>
  {% endfor %}
</ul>
