---
layout: layout.njk
title: Changelog
---

{% set css %}
    {% include "changelog.css" %}
{% endset %}
<style>
    {{ css | cssmin | safe }}
</style>

<div class="mb-3 d-sm-flex changelog-buttons">
    <div class="btn-group mr-sm-3 mb-3 mb-sm-0">
        <button type="button" class="btn btn-primary" id="toggle-basketball"><img src="https://play.basketball-gm.com/ico/logo.png" width="18" height="18"> Basketball</button>
        <button type="button" class="btn btn-primary" id="toggle-football"><img src="https://play.football-gm.com/ico/logo.png" width="18" height="18"> Football</button>
        <button type="button" class="btn btn-primary" id="toggle-hockey"><img src="https://hockey.zengm.com/ico/logo.png" width="18" height="18"> Hockey</button>
    </div>

    <div>
    <button type="button" class="btn btn-secondary" id="toggle-only-big-news">Only big news</button></div>
</div>

<ul id="changelog">
  {% for entry in changelog %}
  <li
    {% if entry.basketball %}data-basketball="true"{% endif %}
    {% if entry.football %}data-football="true"{% endif %}
    {% if entry.hockey %}data-hockey="true"{% endif %}
    {% if entry.big %}data-big="true"{% endif %}
  >
    {{ entry.date }}
    {% if entry.basketball %}<img src="https://play.basketball-gm.com/ico/logo.png" width="18" height="18">{% endif %}
    {% if entry.football %}<img src="https://play.football-gm.com/ico/logo.png" width="18" height="18">{% endif %}
    {% if entry.hockey %}<img src="https://hockey.zengm.com/ico/logo.png" width="18" height="18">{% endif %}
    {% if entry.links %}
      {% for url in entry.links %}
        <a href="{{ url }}">[{{ loop.index }}]</a>
      {% endfor %}
    {% endif %}<br>
    {% if entry.big %}<span class="text-highlight">{% endif %}
    {{ entry.text | renderUsingMarkdown | safe }}
    {% if entry.big %}</span>{% endif %}
  </li>
  {% endfor %}
</ul>

{% set js %}
    {% include "changelog.js" %}
{% endset %}
<script>
    {{ js | jsmin | safe }}
</script>
