<!doctype html>
<html lang="en">
	<head>
	{% include "head-common.njk" %}

	<title>ZenGM - Basketball GM, Football GM, and ZenGM Hockey</title>

	<style>
body {
	background-color: var(--bg-1);
	font-size: 18px;
}

.top-1 {
	background-color: var(--logo-orange);
	height: 10px;
	width: 100%;
}
.top-2 {
	background-color: var(--logo-purple);
	height: 10px;
	width: 100%;
}

.logo {
	height: 192px;
	width: 192px;
	cursor: pointer;
}

.container-main {
	max-width: 720px;
}

.headline {
	color: var(--orange);
	font-size: 20px;
	font-weight: bold;
}

ul {
	margin-bottom: 0;
}

ul.main-list li:not(:last-child) {
	margin-bottom: 1rem;
}

@media (max-width: 767px) {
	ul.main-list li::before {
		content: none;
	}
}

.flagship {
	color: inherit !important;
	background-color: var(--bg-2);
	min-height: 98px;
}
.flagship:hover {
	color: inherit;
	background-color: var(--bg-1);
	text-decoration: inherit;
}
.flagship img {
	height: 82px;
	width: 82px;
}
.flagship h2 {
	font-weight: bold;
	font-size: 20px;
	margin-top: 2px;
}
.flagship p {
	margin-bottom: 0;
	font-size: 16px;
}

.face {
	height: 150px;
	width: 100px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

@media (max-width: 575px) {
	.logo {
		height: 164px;
		width: 164px;
	}

	.face {
		height: 117px;
		width: 78px;
	}
}

.theme-switch-wrapper-2 {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}

.theme-switch-wrapper {
	width: 48px;
	height: 48px;
}
	</style>
	</head>
	<body class="pb-0">
		<div class="top-1"></div>
		<div class="top-2"></div>
		<div class="theme-switch-wrapper-2">
			<div class="container container-main px-0">
				<div class="theme-switch-wrapper float-right">
					{% include "theme-switch.njk" %}
				</div>
			</div>
		</div>
		<div class="d-flex align-items-end my-5 mx-1">
			<div id="face0" class="face ml-auto"></div>
			<img id="logo" class="logo mx-2 mx-sm-3" src="/files/logo.svg">
			<div id="face1" class="face mr-auto"></div>
		</div>
		<div class="container container-main pb-4">
			<h1 class="mb-0">ZenGM is an independent video game developer focused on sports management simulation games.</h1>
		</div>

		<div class="bg-alt py-4">
			<div class="container container-main">
				<p>Every day, users simulate over 30,000 seasons in our games. Why don't you try one?</p>
			</div>
		
				<div class="row mx-auto" style="max-width: 1080px">
					<div class="col-12 col-sm-6 col-lg-4">
						<a class="flagship d-flex border border-secondary rounded p-2" href="https://basketball-gm.com/">
							<img src="https://play.basketball-gm.com/ico/icon.svg" class="mr-2 flex-shrink-0">
							<div>
								<h2>Basketball GM</h2>
								<p>Our first game, continuously updated since 2008.</p>
							</div>
						</a>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 mt-3 mt-sm-0">
						<a class="flagship d-flex border border-secondary rounded p-2" href="https://football-gm.com/">
							<img src="https://play.football-gm.com/ico/icon.svg" class="mr-2 flex-shrink-0">
							<div>
								<h2>Football GM</h2>
								<p>Released in 2019 and kept in sync with Basketball GM.</p>
							</div>
						</a>
					</div>
					<div class="col-12 col-sm-6 col-lg-4 mt-3 mt-lg-0">
						<a class="flagship d-flex border border-secondary rounded p-2" href="https://hockey.zengm.com/">
							<img src="https://hockey.zengm.com/ico/icon.svg" class="mr-2 flex-shrink-0">
							<div>
								<h2>ZenGM Hockey</h2>
								<p>Released in 2021 and kept in sync with Basketball GM.</p>
							</div>
						</a>
					</div>
				</div>
		</div>

		<div class="py-4">
			<div class="container container-main">
				<p>Our games all follow some core principles:</p>

				<ul class="main-list">
					<li><span class="headline">Completely free</span><br>
						No in-game purchases, no "pay to win", no microtransactions. You don't even have to log in or make an account to play.</li>

					<li><span class="headline">Customizable</span><br>
						Our games are deeply customizable through an in-game "God Mode" or custom league files. We also make our <a href="https://github.com/dumbmatter/gm-games">source</a> <a href="https://github.com/dumbmatter/zengm-legacy">code</a> available so you can see how our games work and play around with the internals.</li>

					<li><span class="headline">Web-based</span><br>
						Play our games in any web browser on any device. Desktop, laptop, tablet, mobile - it all works. No downloads, no installation, no special permissions needed.</li>

					<li><span class="headline">Minimal micromanagement</span><br>
						Simulation games need depth, but they need the right amount of depth with a UI to help you make sense of it. We seek to avoid mandatory micromanagement as much as possible. Video games should be fun, not tedious.</li>
				</ul>
			</div>
		</div>

		<div class="bg-alt py-4">
			<div class="container container-main">
				<h1>About Us</h1>
				
				<p>ZenGM is currently just one person, me. My name is Jeremy aka dumbmatter. You can reach me at <a href="mailto:jeremy@zengm.com">jeremy@zengm.com</a> or <a href="/contact/">on social media</a>.</p>
				
				<p class="mb-0">I started working on <a href="https://baksetball-gm.com/">Basketball GM</a> in 2008. Originally it was a hobby project to scratch an itch and hone my programming skills. Over the years it slowly grew into what it is today, a collection of multiple web-based sports simulation games enjoyed by tens of thousands of users. It's been a crazy ride, and I think the best still lies ahead!</p>
			</div>
		</div>

		<div class="py-4">
			<div class="container container-main">
				<h1>Other Games</h1>

				<p>These games are ports of old versions of <a href="https://basketball-gm.com/">Basketball GM</a> to other sports. Currently they are not under active development, but in the future we will bring them up to date with <a href="https://basketball-gm.com/">Basketball GM</a>, <a href="https://football-gm.com/">Football GM</a>, and <a href="https://hockey.zengm.com/">ZenGM Hockey</a>.</p>

				<div class="row mb-3">
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="https://play.zengm.com/">College Basketball Coach</a></li>
							<li><a href="http://collegefootball.zengm.com/">College Football Coach</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="https://play.zengm.com/">Baseball GM</a></li>
							<li><a href="https://moba.zengm.com/">MOBA GM</a></li>
						</ul>
					</div>
				</div>

				<p>These games are even older and have been mostly replaced by the games linked above, but are still available if you want to play them in their original form.</p>

				<div class="row">
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="http://football.zengm.com/">Old Football GM</a></li>
							<li><a href="http://footballseasons.zengm.com/">Football Seasons</a></li>
							<li><a href="http://canadianfootball.zengm.com/">Canadian Football GM</a></li>
							<li><a href="http://arenafootball.zengm.com/">Arena Football GM</a></li>
							<li><a href="http://usfootball.zengm.com/">US Football GM</a></li>
							<li><a href="http://hockey.zengm.com/new_league">Old Hockey GM</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="http://baseball.zengm.com/">Old Baseball GM</a></li>
							<li><a href="http://baseballseasons.zengm.com/">Baseball Seasons</a></li>
							<li><a href="http://collegebasketball.zengm.com/">Old College Basketball Coach</a></li>
							<li><a href="http://collegebasketballseasons.zengm.com/">College Basketball Seasons</a></li>
							<li><a href="http://collegebasketballbigfive.zengm.com/">College Basketball Big Five</a></li>
							<li><a href="http://lol.zengm.com/">LOL GM</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% include "footer.njk" %}
	</body>
	{% include "facesjs.njk" %}
	<script>
var face0 = document.getElementById("face0");
var face1 = document.getElementById("face1");

function genFace0() {
	var jerseys = ["jersey", "jersey2", "jersey3", "jersey4", "jersey5"];
	var jersey = jerseys[Math.floor(Math.random() * jerseys.length)];
	var face = faces.generate({
		teamColors: ["#695FAB", "#f05742", "#cccccc"],
		jersey: { id: jersey },
	});
	faces.display(face0, face);
}

var prevType = Math.random() < 0.5 ? "football" : "hockey";
function genFace1() {
	var jerseys =
		prevType === "hockey" ? ["football", "football2", "football3"] : ["hockey"];
	prevType = prevType === "hockey" ? "football" : "hockey";
	var jersey = jerseys[Math.floor(Math.random() * jerseys.length)];
	var face = faces.generate({
		teamColors: ["#695FAB", "#f05742", "#cccccc"],
		jersey: { id: jersey },
	});
	faces.display(face1, face);
}

genFace0();
genFace1();

face0.addEventListener("click", genFace0);
face1.addEventListener("click", genFace1);
document.getElementById("logo").addEventListener("click", function () {
	genFace0();
	genFace1();
});
	</script>
</html>
