Redirect 301 /ads.txt https://a.pub.network/basketball-gm-com/ads.txt

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/(.well-known)(/|$)
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404/index.html

Redirect 301 /changelog/ https://zengm.com/changelog/
Redirect 301 /faq/ /manual/faq/
