<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Universal Draft Lottery Simulator</title>
    <script type="module" crossorigin src="/universal-draft-lottery-simulator/assets/index.1c1c8ec9.js"></script>
    <link rel="stylesheet" href="/universal-draft-lottery-simulator/assets/index.bab0b7c5.css">
  </head>
  <body class="m-3">
    <div id="app"></div>
    {% include "google-analytics.njk" %}
  </body>
</html>
