---
layout: page-or-post
pagination:
  enabled: true
---
{%- include blog-teaser.html -%}

{%- for post in paginator.posts -%}
  {%- include post.html post=post -%}
{%- endfor -%}

{% if paginator.total_pages > 1 %}
  <p>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo; Newer Posts</a>
    {% endif %}


    {% if paginator.previous_page and paginator.next_page %}
      &#8212;
    {% endif %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older Posts &raquo;</a>
    {% endif %}
  </p>
{% endif %}
