div#wrapper {
  margin: 0 auto;
  width: 750px;
}

h2 {
  clear: both;
}

div.download {
  float: left;
  margin-left: 15px;
  width: 240px;
}

div.download-first {
  margin-left: 0;
}

div.download h3 {
  margin-top: 0;
}
