---
layout: layout.njk
title: Blog
---
<link href="/css/blog.css" rel="stylesheet">

{% include "blog-teaser.njk" %}

{% import "blog-macros.njk" as blogMacros %}

{%- for post in collections.post -%}
  {{ blogMacros.postHeader(post.data.url, post.data.title, post.data.date, post.data.tags) }}
{%- endfor -%}
