---
layout: layout.njk
title: Blog
pagination:
  data: collections.post
  size: 10
  alias: posts
  reverse: true
showBlogTeaser: true
---
<link href="/css/blog.css" rel="stylesheet">

{% import "blog-macros.njk" as blogMacros %}

{%- for post in posts -%}
  {{ blogMacros.postHeader(post.url, post.data.title, post.date, post.data.tags) }}
  {{ blogMacros.postExcerpt(post) }}
  <hr>
{%- endfor -%}

{% if pagination.pages.length > 1 %}
  <nav class="d-flex justify-content-center">
    <ul class="pagination mx-0">
      {% if page.url != pagination.href.first %}
        <li class="page-item" title="First page"><a class="page-link" href="{{ pagination.href.first }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled" title="First page"><a class="page-link" href="#">&laquo;</a></li>
      {% endif %}

      {% if pagination.href.previous %}
        <li class="page-item" title="Previous page"><a class="page-link" href="{{ pagination.href.previous }}">&lsaquo;</a></li>
      {% else %}
        <li class="page-item disabled" title="Previous page"><a class="page-link" href="#">&lsaquo;</a></li>
      {% endif %}

      {%- for pageEntry in pagination.pages %}
        {% if loop.index0 | isInPageTrail(pagination.hrefs, page.url) %}
          <li class="page-item{% if page.url == pagination.hrefs[ loop.index0 ] %} active{% endif %}"><a class="page-link" href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a></li>
        {% endif %}
      {%- endfor %}

      {% if pagination.href.next %}
        <li class="page-item" title="Next page"><a class="page-link" href="{{ pagination.href.next }}">&rsaquo;</a></li>
      {% else %}
        <li class="page-item disabled" title="Next page"><a class="page-link" href="#">&rsaquo;</a></li>
      {% endif %}

      {% if page.url != pagination.href.last %}
        <li class="page-item" title="Last page"><a class="page-link" href="{{ pagination.href.last }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled" title="Last page"><a class="page-link" href="#">&raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
