.comma-list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}  
.comma-list li {
  display: inline;
}
.comma-list li::after {
    content: ", ";
}
.comma-list li:last-child::after {
  content: "";
}

.pagination .page-item.active .page-link {
  background-color: var(--logo-purple) !important;
  &:hover {
    color: #fff;
  }
}
.pagination .page-item .page-link:hover {
  color: var(--purple);
}

// For legacy blog posts
html.dark img.dark-invert {
  filter: invert(100%);
}

html.dark .google-chart {
  // 87% seems to match dark mode bg color
  filter: invert(87%);
}

blockquote {
  background-color: var(--bg-2);
  border-left: 5px solid var(--secondary);
  margin-left: -15px;
  padding: 0.5rem;

  p:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  blockquote {
    margin-left: 0;
  }
}
