.comma-list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}  
.comma-list li {
  display: inline;
}
.comma-list li::after {
    content: ", ";
}
.comma-list li:last-child::after {
  content: "";
}

.pagination .page-item.active .page-link {
  background-color: var(--logo-purple) !important;
  &:hover {
    color: #fff;
  }
}
.pagination .page-item .page-link:hover {
  color: var(--purple);
}

.share-btns-bottom {
  display: flex;
  gap: 0.5rem;

  a {
    padding: 0.5rem;
  }

  img {
    vertical-align: text-bottom;
  }
}

.share-btns-side {
  display: none;
}
@media (min-width: 1060px) {
  .share-btns-side {
    display: flex;
    flex-direction: column;
    width: 50px;
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  
    a {
      width: 50px;
      height: 50px;
  
      img {
        width: 24px;
        height: 24px;
        margin: 13px;
      }
    }
  }
}

.share-btn, html.dark .share-btn {
  color: #fff;
  display: block;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  img {
    filter: invert(100%);
  }
}

.share-btn-facebook, html.dark .share-btn-facebook {
  background-color: #3b5998;
}
.share-btn-facebook:hover, .share-btn-facebook:active, html.dark .share-btn-facebook:hover, html.dark .share-btn-facebook:active {
  background-color: #2d4373;
}
.share-btn-reddit, html.dark .share-btn-reddit {
  background-color: #ff4500;
}
.share-btn-reddit:hover, .share-btn-reddit:active, html.dark .share-btn-reddit:hover, html.dark .share-btn-reddit:active {
  background-color: #e23f02;
}
.share-btn-twitter, html.dark .share-btn-twitter {
  background-color: rgb(29, 161, 242);
}
.share-btn-twitter:hover, .share-btn-twitter:active, html.dark .share-btn-twitter:hover, html.dark .share-btn-twitter:active {
  background-color: rgb(26, 145, 218);
}

// For legacy blog posts
html.dark img.dark-invert {
  filter: invert(100%);
}

html.dark .google-chart {
  // 87% seems to match dark mode bg color
  filter: invert(87%);
}

blockquote {
  background-color: var(--bg-2);
  border-left: 5px solid var(--secondary);
  margin-left: -15px;
  padding: 0.5rem;

  p:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 991.98px) {
  blockquote {
    margin-left: 0;
  }
}
