---
layout: layout.njk
title: Logos
fullWidth: true
---

<style>
.logo-wrapper {
    gap: 6rem;
}
.logo-big {
    max-width: 200px;
    max-height: 200px;
}
.logo-small {
    margin-left: 1rem;
    max-width: 100px;
    max-height: 100px;
}
</style>

<div class="container-lg">
    <p><a href="/files/logos.zip">Click here to download all of the logos, including some additional secondary/tertiary logos and wordmarks that are not yet used in the games.</a></p>
</div>

<div class="logo-wrapper my-5 text-center d-flex flex-wrap justify-content-center">
    <div>
        <h4>Albuquerque Thunderbirds</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/ABQ.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/ABQ.svg">
        </div>
    </div>

    <div>
        <h4>Anchorage Glaciers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/ANC.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/ANC.svg">
        </div>
    </div>

    <div>
        <h4>Atlanta Gold Club</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/ATL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/ATL.svg">
        </div>
    </div>

    <div>
        <h4>Austin Armadillos</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/AUS.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/AUS.svg">
        </div>
    </div>

    <div>
        <h4>Baltimore Crabs</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BAL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/BAL.svg">
        </div>
    </div>

    <div>
        <h4>Beijing Celestials</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BEI.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/BEI.svg">
        </div>
    </div>

    <div>
        <h4>Belgrade Sparrows</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BEL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/BEL.svg">
        </div>
    </div>

    <div>
        <h4>Berlin Bears</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BER.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/BER.svg">
        </div>
    </div>

    <div>
        <h4>Boston Massacre</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BOS.svg">
        </div>
    </div>

    <div>
        <h4>Brooklyn Bagels</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BKN.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/BKN.svg">
        </div>
    </div>

    <div>
        <h4>Buenos Aires 10s</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BUE.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/BUE.svg">
        </div>
    </div>

    <div>
        <h4>Buffalo Wings</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/BUF.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/BUF.svg">
        </div>
    </div>

    <div>
        <h4>Cairo Jackals</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/CAI.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/CAI.svg">
        </div>
    </div>

    <div>
        <h4>Calgary Mounties</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/CGY.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/CGY.svg">
        </div>
    </div>

    <div>
        <h4>Charlotte Queens</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/CHA.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/CHA.svg">
        </div>
    </div>

    <div>
        <h4>Chicago Whirlwinds</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/CHI.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/CHI.svg">
        </div>
    </div>

    <div>
        <h4>Cincinnati Riots</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/CIN.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/CIN.svg">
        </div>
    </div>

    <div>
        <h4>Cleveland Curses</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/CLE.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/CLE.svg">
        </div>
    </div>

    <div>
        <h4>Dallas Snipers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/DAL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/DAL.svg">
        </div>
    </div>

    <div>
        <h4>Denver High</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/DEN.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/DEN.svg">
        </div>
    </div>

    <div>
        <h4>Detroit Muscle</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/DET.svg">
        </div>
    </div>

	<div>
        <h4>Edmonton River Rats</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/EDM.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/EDM.svg">
        </div>
    </div>

    <div>
        <h4>Hawaii Honu</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/HAW.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/HAW.svg">
        </div>
    </div>

    <div>
        <h4>Houston Apollos</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/HOU.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/HOU.svg">
        </div>
    </div>

    <div>
        <h4>Indianapolis Crossroads</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/IND.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/IND.svg">
        </div>
    </div>

    <div>
        <h4>Jacksonville Gators</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/JAX.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/JAX.svg">
        </div>
    </div>

    <div>
        <h4>Jakarta Komodo Dragons</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/JKT.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/JKT.svg">
        </div>
    </div>

    <div>
        <h4>Kansas City Sauce</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/KC.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/KC.svg">
        </div>
    </div>

    <div>
        <h4>Kaunas Knights</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/KAU.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/KAU.svg">
        </div>
    </div>

    <div>
        <h4>Kentucky Buckets</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/KEN.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/KEN.svg">
        </div>
    </div>

    <div>
        <h4>Las Vegas Blue Chips</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/LV.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/LV.svg">
        </div>
    </div>

	<div>
        <h4>London Monarchs</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/LON.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/LON.svg">
        </div>
    </div>

    <div>
        <h4>Los Angeles Earthquakes</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/LAE.svg">
        </div>
    </div>

    <div>
        <h4>Los Angeles Lowriders</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/LA.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/LA.svg">
        </div>
    </div>

	<div>
        <h4>Manila Monkey-Eating Eagles</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MNL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MNL.svg">
        </div>
    </div>

    <div>
        <h4>Madrid Matadors</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MAD.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MAD.svg">
        </div>
    </div>

	<div>
        <h4>Melbourne Drop Bears</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MLB.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MLB.svg">
        </div>
    </div>

    <div>
        <h4>Memphis Blues</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MEM.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MEM.svg">
        </div>
    </div>

    <div>
        <h4>Miami Cyclones</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MIA.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MIA.svg">
        </div>
    </div>

    <div>
        <h4>Milwaukee Cheesemakers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MIL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MIL.svg">
        </div>
    </div>

    <div>
        <h4>Minneapolis Blizzard</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MIN.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MIN.svg">
        </div>
    </div>

    <div>
        <h4>Montreal Beavers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MON.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MON.svg">
        </div>
    </div>

    <div>
        <h4>Mexico City Aztecs</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/MXC.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/MXC.svg">
        </div>
    </div>

	<div>
        <h4>New Jersey Swamp Dragons</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/NJ.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/NJ.svg">
        </div>
    </div>

    <div>
        <h4>New Orleans Bayou</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/NOL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/NOL.svg">
        </div>
    </div>

    <div>
        <h4>New York Bankers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/NYC.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/NYC.svg">
        </div>
    </div>

    <div>
        <h4>Oakland Blue Oaks</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/OAK.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/OAK.svg">
        </div>
    </div>

    <div>
        <h4>Oklahoma City 66ers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/OKC.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/OKC.svg">
        </div>
    </div>

    <div>
        <h4>Orlando Juice</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/ORL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/ORL.svg">
        </div>
    </div>

    <div>
        <h4>Ottawa Spiders</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/OTT.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/OTT.svg">
        </div>
    </div>

	<div>
        <h4>Paris Pigeons</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/PAR.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/PAR.svg">
        </div>
    </div>

    <div>
        <h4>Philadelphia Cheesesteaks</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/PHI.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/PHI.svg">
        </div>
    </div>

    <div>
        <h4>Phoenix Vultures</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/PHO.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/PHO.svg">
        </div>
    </div>

    <div>
        <h4>Pittsburgh Rivers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/PIT.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/PIT.svg">
        </div>
    </div>

    <div>
        <h4>Portland Roses</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/POR.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/POR.svg">
        </div>
    </div>

    <div>
        <h4>Quebec Voyageurs</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/QUE.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/QUE.svg">
        </div>
    </div>

	<div>
        <h4>Rio de Janeiro Capybaras</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/RIO.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/RIO.svg">
        </div>
    </div>

    <div>
        <h4>Rome Centurions</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/ROM.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/ROM.svg">
        </div>
    </div>

    <div>
        <h4>San Antonio Churros</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SA.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SA.svg">
        </div>
    </div>

    <div>
        <h4>Sacramento Gold Rush</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SAC.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SAC.svg">
        </div>
    </div>

    <div>
        <h4>San Diego Pandas</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SD.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SD.svg">
        </div>
    </div>

    <div>
        <h4>San Francisco Unicorns</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SF.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SF.svg">
        </div>
    </div>

    <div>
        <h4>San Jose Venture Capitalists</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SJ.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SJ.svg">
        </div>
    </div>

    <div>
        <h4>Seattle Symphony</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SEA.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SEA.svg">
        </div>
    </div>

    <div>
        <h4>Singapore Merlions</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SIN.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SIN.svg">
        </div>
    </div>

    <div>
        <h4>St. Louis Spirits</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/STL.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/STL.svg">
        </div>
    </div>

    <div>
        <h4>Sydney Convicts</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/SYD.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/SYD.svg">
        </div>
    </div>

    <div>
        <h4>Tampa Turtles</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/TPA.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/TPA.svg">
        </div>
    </div>

    <div>
        <h4>Tokyo Kaiju</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/TOK.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/TOK.svg">
        </div>
    </div>

    <div>
        <h4>Toronto Raccoons</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/TOR.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/TOR.svg">
        </div>
    </div>

    <div>
        <h4>Utah Missionaries</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/UTA.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/UTA.svg">
        </div>
    </div>

    <div>
        <h4>Vancouver Whalers</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/VAN.svg">
        </div>
    </div>

    <div>
        <h4>Virginia Beach Colonists</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/VB.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/VB.svg">
        </div>
    </div>

    <div>
        <h4>Washington Monuments</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/WAS.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/WAS.svg">
        </div>
    </div>

    <div>
        <h4>Winnipeg Warhawks</h4>
        <div class="d-flex align-items-center justify-content-center">
            <img class="logo-big" src="https://play.basketball-gm.com/img/logos-primary/WPG.svg">
            <img class="logo-small" src="https://play.basketball-gm.com/img/logos-secondary/WPG.svg">
        </div>
    </div>
</div>
