---
layout: default
---
<div class="container above-footer">
  <div class="skinny">
    <div class="header">
      <div class="row">
        <div class="col-sm-4">
          <h3><a href="/">Basketball GM</a></h3>
        </div>
        <div class="col-sm-8">
          <ul class="nav nav-pills">
            <li><a href="http://play.basketball-gm.com/">Play Now!</a></li>
            <li class="active"><a href="/about/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    {{ content }}
  </div>
</div>
