Redirect 301 /ads.txt https://a.pub.network/zengm-com/ads.txt
RedirectMatch "^/discord" "https://discord.gg/caPFuM9"

RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteCond %{REQUEST_URI} !^/(.well-known)(/|$)
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

ErrorDocument 404 /404/index.html
