---
layout: layout.njk
title: Contact
---

<p>Basketball GM, Football GM, ZenGM Baseball, and ZenGM Hockey are all made by one person, me. My name is Jeremy aka dumbmatter.</p>

<p>Here are all the different ways you can reach me, pick whichever you like!</p>

<ul>
  <li><p>Email me at <a href="mailto:jeremy@zengm.com">jeremy@zengm.com</a></p></li>
  <li><p>Tweet at <a href="https://twitter.com/basketball_gm">@basketball_gm</a>, <a href="https://twitter.com/FootballGM_Game">@FootballGM_Game</a>, or <a href="https://twitter.com/ZenGMGames">@ZenGMGames</a>.</p></li>
  <li><p>Post a message on <a href="/discord/">our Discord server</a>, and tag @dumbmatter if you want to be sure I see it.</p></li>
  <li><p>Post on any of our subreddits (<a href="https://www.reddit.com/r/BasketballGM/">r/BasketballGM</a>, <a href="https://www.reddit.com/r/Football_GM/">r/Football_GM</a>, or <a href="https://www.reddit.com/r/ZenGMHockey/">r/ZenGMHockey</a>) or send a message to <a href="https://www.reddit.com/user/dumbmatter/">u/dumbmatter</a>.</p></li>
</ul>
