<!doctype html>
<html lang="en">
	<head>
	{% include "head-common.njk" %}

	<title>ZenGM - Basketball GM, Football GM, ZenGM Baseball, and ZenGM Hockey</title>

	<meta name="description" content="ZenGM is an independent video game developer who makes the sport simulation games Basketball GM, Football GM, ZenGM Baseball, and ZenGM Hockey.">

	<style>
body {
	background-color: var(--bg-1);
	font-size: 18px;
}

.top-1 {
	background-color: var(--logo-orange);
	height: 10px;
	width: 100%;
}
.top-2 {
	background-color: var(--logo-purple);
	height: 10px;
	width: 100%;
}

.logo {
	height: 192px;
	width: 192px;
	cursor: pointer;
}

.container-main {
	max-width: 720px;
}

.headline {
	font-size: 20px;
	font-weight: bold;
}

ul {
	margin-bottom: 0;
}

ul.main-list li:last-child p {
	margin-bottom: 0;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.flagship {
	color: inherit !important;
	background-color: var(--bg-2);
	min-height: 80px;
	text-decoration: none !important;
}
.flagship:hover {
	color: inherit;
	background-color: var(--bg-1);
}
.flagship:hover img {
	animation-play-state: running;
}
.flagship img {
	animation: spin 2s linear infinite;
	animation-play-state: paused;
	height: 64px;
	width: 64px;
}
.flagship h2 {
	font-size: 24px;
	margin-bottom: 0;
}

.face {
	height: 150px;
	width: 100px;
}

@media (max-width: 575.98px) {
	.logo {
		height: 164px;
		width: 164px;
	}

	.face {
		height: 117px;
		width: 78px;
	}
}

.theme-switch-wrapper-2 {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
}

.theme-switch-wrapper {
	width: 48px;
	height: 48px;
}
	</style>
	</head>
	<body class="pb-0">
		<div class="top-1"></div>
		<div class="top-2"></div>
		<div class="theme-switch-wrapper-2">
			<div class="container container-main px-0">
				<div class="theme-switch-wrapper float-right">
					{% include "theme-switch.njk" %}
				</div>
			</div>
		</div>
		<div class="d-flex align-items-end my-4 mx-1">
			<div id="face0" class="face ms-auto"></div>
			<img id="logo" class="logo mx-2 mx-sm-3" src="/files/logo.svg" alt="Zen GM">
			<div id="face1" class="face me-auto"></div>
		</div>
		<div class="container container-main pb-4">
			<h1 class="mb-0">Indie game dev, maker of sports management simulation games.</h1>
		</div>

		<div class="bg-alt py-4">
			<div class="container container-main">
				<p>Every day, users simulate over 60,000 seasons in our games. Why don't you try one?</p>
			</div>
		
			<div class="container container-main">
				<div class="row">
					<div class="col-12 col-sm-6">
						<a class="flagship d-flex align-items-center border border-secondary rounded p-2" href="/basketball/">
							<img src="https://play.basketball-gm.com/ico/icon.svg" class="me-3 flex-shrink-0" alt="">
							<h2>Basketball GM</h2>
						</a>
					</div>
					<div class="col-12 col-sm-6 mt-3 mt-sm-0">
						<a class="flagship d-flex align-items-center border border-secondary rounded p-2" href="/football/">
							<img src="https://play.football-gm.com/ico/icon.svg" class="me-3 flex-shrink-0" alt="">
							<h2>Football GM</h2>
						</a>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a class="flagship d-flex align-items-center border border-secondary rounded p-2" href="/baseball/">
							<img src="https://baseball.zengm.com/ico/icon.svg" class="me-3 flex-shrink-0" alt="">
							<h2>ZenGM Baseball</h2>
						</a>
					</div>
					<div class="col-12 col-sm-6 mt-3">
						<a class="flagship d-flex align-items-center border border-secondary rounded p-2" href="/hockey/">
							<img src="https://hockey.zengm.com/ico/icon.svg" class="me-3 flex-shrink-0" alt="">
							<h2>ZenGM Hockey</h2>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="py-4">
			<div class="container container-main">
				<p>Our games all follow some core principles:</p>

				<ul class="main-list">
					{% include "principles.njk" %}
				</ul>
			</div>
		</div>

		<div class="bg-alt py-4">
			<div class="container container-main">
				<h1>About Us</h1>
				
				<p>ZenGM is currently just one person, me. My name is Jeremy aka dumbmatter. You can reach me at <a href="mailto:jeremy@zengm.com">jeremy@zengm.com</a> or <a href="/contact/">on social media</a>.</p>
				
				<p>I started working on <a href="/basketball/">Basketball GM</a> in 2008. Originally it was a hobby project to scratch an itch and hone my programming skills. Over the years it slowly grew into what it is today, a collection of multiple web-based sports simulation games enjoyed by tens of thousands of users. It's been a crazy ride, and I think the best still lies ahead!</p>

				<a href="/about/">More info...</a>
			</div>
		</div>

		<div class="py-4">
			<div class="container container-main">
				<h1>Other Games</h1>

				<p>These games are ports of old versions of <a href="/basketball/">Basketball GM</a> to other sports. Currently they are not under active development, but in the future we will bring them up to date with <a href="/basketball/">Basketball GM</a>, <a href="/football/">Football GM</a>, <a href="/baseball/">ZenGM Baseball</a>, and <a href="/hockey/">ZenGM Hockey</a>.</p>

				<div class="row mb-3">
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="https://play.zengm.com/">College Basketball Coach</a></li>
							<li><a href="http://collegefootball.zengm.com/">College Football Coach</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="https://moba.zengm.com/">MOBA GM</a></li>
						</ul>
					</div>
				</div>

				<p>These games are even older and have been mostly replaced by the games linked above, but are still available if you want to play them in their original form.</p>

				<div class="row">
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="http://football.zengm.com/">Old Football GM</a></li>
							<li><a href="http://footballseasons.zengm.com/">Football Seasons</a></li>
							<li><a href="http://canadianfootball.zengm.com/">Canadian Football GM</a></li>
							<li><a href="http://arenafootball.zengm.com/">Arena Football GM</a></li>
							<li><a href="http://usfootball.zengm.com/">US Football GM</a></li>
							<li><a href="https://hockey-old.zengm.com/">Old Hockey GM</a></li>
						</ul>
					</div>
					<div class="col-12 col-sm-6">
						<ul>
							<li><a href="https://baseball-old.zengm.com/">Old Baseball GM</a></li>
							<li><a href="http://baseballseasons.zengm.com/">Baseball Seasons</a></li>
							<li><a href="http://collegebasketball.zengm.com/">Old College Basketball Coach</a></li>
							<li><a href="http://collegebasketballseasons.zengm.com/">College Basketball Seasons</a></li>
							<li><a href="http://collegebasketballbigfive.zengm.com/">College Basketball Big Five</a></li>
							<li><a href="http://lol.zengm.com/">LOL GM</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		{% include "footer.njk" %}
	</body>
	{% include "facesjs.njk" %}
	<script>
window.onFacesJS.push(function () {
	var face0 = document.getElementById("face0");
	var face1 = document.getElementById("face1");

	function genFaceFactory(container, sport0, sport1) {
		var prevType = Math.random() < 0.5 ? sport0 : sport1;
		return function () {
			prevType = prevType === sport0 ? sport1 : sport0;
			var face = genFace(prevType);
			faces.display(container, face);
		}
	}

	var genFace0 = genFaceFactory(face0, "baseball", "basketball");
	var genFace1 = genFaceFactory(face1, "football", "hockey");

	genFace0();
	genFace1();

	face0.addEventListener("click", genFace0);
	face1.addEventListener("click", genFace1);
	document.getElementById("logo").addEventListener("click", function () {
		genFace0();
		genFace1();
	});
});
	</script>
</html>
