{% macro postHeader(url, title, date, tags) %}
<h1><a href="{{ url }}">{{ title | escape }}</a></h1>
<div class="mb-3">
    {{ date | blogPostDate }} - <ul class="comma-list">
    {% for tag in tags %}
        {% if tag !== "post" %}
            <li><a href="/blog/tag/{{ tag | slug }}/"> {{ tag }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endmacro %}
