<p>ZenGM makes free sports simulation games. Set your roster, make trades, draft prospects, manage your finances, and try to build a dynasty. Try our games now in your browser: <a href="https://basketball-gm.com/">Basketball GM</a>, <a href="https://football-gm.com/">Football GM</a>, and <a href="/hockey/">ZenGM Hockey</a>.</p>
