<script async src="https://dumbmatter.com/facesjs/build/bundle.js" id="facesjs-script"></script>
<script>
document.getElementById("facesjs-script").addEventListener("load", function () {
    if (window.onFacesJS) {
        window.onFacesJS();
    }
});
</script>
