<script async src="/files/facesjs-3.4.0.js" id="facesjs-script"></script>
<script>
document.getElementById("facesjs-script").addEventListener("load", function () {
    if (window.onFacesJS) {
        window.onFacesJS();
    }
});
</script>
