<footer class="footer bg-alt mt-auto">
    <div class="container-lg py-3">
        <div class="row">
            <div class="col-6 col-sm-3">
                <a href="/">
                    <h2>ZenGM</h2>
                </a>
                <ul class="mb-0">
                    <li><a href="/about/">About</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/changelog/">Changelog</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="https://landing.mailerlite.com/webforms/landing/z7d2z9" target="_blank" rel="noopener noreferrer">Newsletter</a></li>
                    <li><a href="/privacy/">Privacy</a></li>
                </ul>
                <div class="mt-2">
                    <a href="https://discord.gg/caPFuM9" class="mr-2"><img src="/files/social-icons/discord.svg" class="footer-social black-icon" title="Discord"></a>
                    <a href="https://twitter.com/ZenGMGames" class="mr-2"><img src="/files/social-icons/twitter.svg" class="footer-social black-icon" title="Twitter"></a>
                    <a href="https://github.com/zengm-games"><img src="/files/social-icons/github.svg" class="footer-social black-icon" title="GitHub"></a>
                </div>
            </div>
            <div class="col-6 col-sm-3 position-relative">
                <div class="h-100 d-flex flex-column">
                    <a href="https://basketball-gm.com/">
                        <img class="footer-sport-logo" src="https://play.basketball-gm.com/ico/logo.png" width="18" height="18">
                        <h2>Basketball<span class="d-sm-none d-md-inline"> GM</span></h2>
                    </a>
                    <ul class="mb-0">
                        <li><a href="https://play.basketball-gm.com/">Play</a></li>
                        <li><a href="https://basketball-gm.com/faq/">FAQ</a></li>
                        <li><a href="https://basketball-gm.com/manual/">Manual</a></li>
                    </ul>
                    <div class="mt-2">
                        <a href="https://www.reddit.com/r/BasketballGM/" class="mr-2"><img src="/files/social-icons/reddit.svg" class="footer-social black-icon" title="Reddit"></a>
                        <a href="https://twitter.com/basketball_gm" class="mr-2"><img src="/files/social-icons/twitter.svg" class="footer-social black-icon" title="Twitter"></a>
                        <a href="https://www.instagram.com/basketballgmgame/"><img src="/files/social-icons/instagram.svg" class="footer-social black-icon" title="Instagram"></a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 mt-4 mt-sm-0 position-relative">
                <a href="https://football-gm.com">
                    <img class="footer-sport-logo" src="https://play.football-gm.com/ico/logo.png" width="18" height="18">
                    <h2>Football<span class="d-sm-none d-md-inline"> GM</span></h2>
                </a>
                <ul class="mb-0">
                    <li><a href="https://play.football-gm.com/">Play</a></li>
                    <li><a href="https://football-gm.com/faq/">FAQ</a></li>
                    <li><a href="https://football-gm.com/manual/">Manual</a></li>
                </ul>
                <div class="mt-2">
                    <a href="https://www.reddit.com/r/Football_GM/" class="mr-2"><img src="/files/social-icons/reddit.svg" class="footer-social black-icon" title="Reddit"></a>
                    <a href="https://twitter.com/FootballGM_Game"><img src="/files/social-icons/twitter.svg" class="footer-social black-icon" title="Twitter"></a>
                </div>
            </div>
            <div class="col-6 col-sm-3 mt-4 mt-sm-0 position-relative">
                <a href="/hockey/">
                    <img class="footer-sport-logo" src="https://hockey.zengm.com/ico/logo.png" width="18" height="18">
                    <h2><span class="d-sm-none d-md-inline">ZenGM </span>Hockey</h2>
                </a>
                <ul class="mb-0">
                    <li><a href="https://hockey.zengm.com/">Play</a></li>
                    <li><a href="/hockey/faq/">FAQ</a></li>
                    <li><a href="/hockey/manual/">Manual</a></li>
                </ul>
                <div class="mt-2">
                    <a href="https://www.reddit.com/r/ZenGMHockey/"><img src="/files/social-icons/reddit.svg" class="footer-social black-icon" title="Reddit"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
