<meta name="color-scheme" content="dark light">
<script>
function getTheme() {
    try {
        var local = localStorage.getItem("theme");
        if (local === "dark" || local === "light") {
            return local;
        }
        return matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light";
    } catch (err) {
        return "light";
    }
}
function setTheme(theme, noSave) {
    theme = theme === "light" ? "light" : "dark";
    const element = document.getElementsByTagName("html")[0];
    element.classList.add(theme);
    element.classList.remove(theme === "light" ? "dark" : "light");
    if (!noSave) {
        localStorage.setItem("theme", theme);
    }
}

setTheme(getTheme(), true);
</script>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

{% favicon websitePlay %}
<link href="/css/main.css" rel="stylesheet">

<script src="/files/bootstrap-native-3.0.14-f.min.js"></script>

{% include "google-analytics.njk" %}

<link type="application/atom+xml" rel="alternate" href="https://zengm.com/blog/feed.xml" title="ZenGM Blog" />
