<!doctype html>
<html lang="en" class="h-100">
{% if eleventyNavigation %}
  {% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% endif %}
  <head>
    {% include "head-common.njk" %}
    <title>{{ title }} &laquo; {% if blog %}Blog &laquo; {% endif %}{% for page in navPages %}{{ page.title }} &laquo; {% endfor %}{% sportTitle sport %}</title>
  </head>
  <body class="h-100">
<div class="h-100 d-flex flex-column">
  <div class="mb-3 top-nav">
    <div class="container-lg d-flex">
      <div id="face" class="face"></div>
      <nav class="d-flex align-items-center w-100">
        <a href="/">ZenGM</a>
        {% sportPicker sport %}
        {% if not sport %}<div class="top-nav-item top-nav-separator">/</div>{% endif %}
        {% for page in navPages %}
          <div class="d-none d-sm-block top-nav-item">
            <a href="{{ page.url }}">{{ page.title }}</a>
          </div>
          <div class="d-none d-sm-block top-nav-item top-nav-separator">/</div>
        {% endfor %}
        <div class="top-nav-item">
          {% if blog %}
            <a href="/blog/">Blog</a>
          {% elif titleShort %}
            <span class="d-none d-sm-inline">{{ title }}</span><span class="d-sm-none">{{ titleShort }}</span>
          {% else %}
            {{ title }}
          {% endif %}
        </div>
        <div class="ml-auto h-100">
          {% include "theme-switch.njk" %}
        </div>
      </nav>
    </div>
  </div>

  <main role="main" class="container-lg">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</div>

</body>
{% include "facesjs.njk" %}
<script>
window.onFacesJS = function () {
  var div = document.getElementById("face");

  function genFace() {
    var face = faces.generate({"teamColors":["#695FAB","#f05742","#cccccc"]});
    faces.display(div, face);
  }

  genFace();

  face.addEventListener("click", genFace);
}
</script>
</html>
