<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% include "head-common.njk" %}
    <title>ZenGM > {{ title }}</title>
  </head>
  <body class="h-100">

<div class="h-100 d-flex flex-column">
  <div class="mb-3 top-nav">
    <div class="container d-flex">
      <div id="face"></div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 ml-0">
          <li class="breadcrumb-item"><a href="/">ZenGM</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
      </nav>
    </div>
  </div>

  <main role="main" class="container">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</div>

</body>
<script>
var div = document.getElementById("face");

function genFace() {
  var face = faces.generate({"teamColors":["#695FAB","#f05742","#cccccc"]});
  faces.display(div, face);
}

genFace();

face.addEventListener("click", genFace);
</script>
</html>
