<!doctype html>
<html lang="en" class="h-100">
  <head>
    {% include "head-common.njk" %}
    <title>ZenGM > {{ title }}</title>
  </head>
  <body class="h-100">

<div class="h-100 d-flex flex-column">
  <div class="mb-3 top-nav">
    <div class="container d-flex">
      <div id="face"></div>
      <nav class="d-flex align-items-center">
          <a href="/">ZenGM</a>
          {% if sport %}
            <div class="dropdown top-nav-item"><button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                {% if sport == "basketball" %}
                  <img src="https://play.basketball-gm.com/ico/logo.png" width="18" height="18"> Basketball GM
                {% elif sport == "football" %}
                  <img src="https://play.football-gm.com/ico/logo.png" width="18" height="18"> Football GM
                {% elif sport == "hockey" %}
                  <img src="https://hockey.zengm.com/ico/logo.png" width="18" height="18"> Hockey
                {% endif %}
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#"><img src="https://play.basketball-gm.com/ico/logo.png" width="18" height="18"> Basketball GM</a>
                <a class="dropdown-item" href="#"><img src="https://play.football-gm.com/ico/logo.png" width="18" height="18"> Football GM</a>
                <a class="dropdown-item" href="#"><img src="https://hockey.zengm.com/ico/logo.png" width="18" height="18"> Hockey</a>
              </div>
            </div>
          {% endif %}
          <div class="top-nav-item">{{ title }}</div>
      </nav>
    </div>
  </div>

  <main role="main" class="container">
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}
</div>

</body>
{% include "facesjs.njk" %}
<script>
var div = document.getElementById("face");

function genFace() {
  var face = faces.generate({"teamColors":["#695FAB","#f05742","#cccccc"]});
  faces.display(div, face);
}

genFace();

face.addEventListener("click", genFace);
</script>
</html>
