---
layout: layout.njk
blog: true
permalink: "/blog/{{ page.date | blogPostDateURL }}/{{ page.fileSlug }}/index.html"
---
<link href="/css/blog.css" rel="stylesheet">

{% include "blog-teaser.njk" %}

{% import "blog-macros.njk" as blogMacros %}

{{ blogMacros.postHeader(page.url, title, page.date, tags) }}

{{ content | safe }}
