---
layout: layout.njk
parent: blog
hideTitle: true
permalink: "/blog/{{ page.date | blogPostDateURL }}/{{ page.fileSlug }}/index.html"
---
<link href="/css/blog.css" rel="stylesheet">

{% include "blog-teaser.njk" %}

{% import "blog-macros.njk" as blogMacros %}

{{ blogMacros.postHeader(page.url, title, page.date, tags, "post") }}

{{ content | safe }}
