<!doctype html>
<html lang="en">
	<head>
	{% include "head-common.njk" %}

	<title>{{ gameName }} - Free online single-player {{ sport }} management simulation video game</title>

	<style>
.splash-header {
	background-color: var(--logo-purple);
  color: #fff;
  padding: 0.5rem 0;
}

.dark .logo {
  filter: invert(99%) sepia(2%) saturate(92%) hue-rotate(136deg) brightness(115%) contrast(100%);
}

.play {
  margin: 30px 0;
  text-align: center;
}
.play .btn {
  font-size: 36px;
}

.fade-in {
  animation: fadeIn ease 0.4s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
.fade-out {
  animation: fadeOut ease 0.4s;
}
@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

.feedback-button {
  background-color: inherit;
  border: 0;
  padding: 0 0.25rem;
}

#feedback {
  min-height: 72px;
}

.theme-switch-wrapper-2 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  z-index: 99999;
}

.theme-switch-wrapper {
	width: 48px;
	height: 48px;
}

.carousel-item h3 {
  color: var(--orange);
}
.carousel-item h3, .splash-header {
  font-size: 20px;
  text-align: center;
}
.lead {
  font-size: 16px;
}
@media screen and (min-width: 576px) {
  .carousel-item h3, .splash-header {
    font-size: 24px;
  }
  .theme-switch-wrapper-2 {
    top: 44px;
  }
}
@media screen and (min-width: 768px) {
  .lead {
    font-size: 18px;
  }
  .carousel-item h3, .splash-header {
    font-size: 30px;
  }
  .play .btn {
    font-size: 48px;
  }
  .theme-switch-wrapper-2 {
    top: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .lead {
    font-size: 20px;
  }
  .carousel-item h3, .splash-header {
    font-size: 34px;
  }
  .theme-switch-wrapper-2 {
    top: 52px;
  }
}

.skinny {
  max-width: 960px;
  margin: 0 auto;
}
	</style>
	</head>
    <body>
<h1 class="d-none d-sm-block splash-header mb-0">Run Your Own {{ sport | title }} Team - Play Free Online</h1>

<div class="theme-switch-wrapper-2">
  <div class="container-xl px-0">
    <div class="theme-switch-wrapper float-right float-sm-left">
      {% include "theme-switch.njk" %}
    </div>
  </div>
</div>

<div class="container-xl mt-1 mt-sm-3 mt-md-4 position-relative">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-sm-5 col-md-12">
            <img src="/files/logo-{{ sport }}.png" class="logo img-fluid">
        </div>
        <div class="col-sm-7 col-md-12 mt-3">
            <p class="lead">Have you ever looked at the decisions made by the front office of an {{ proLeagueAbbrev }} team and thought you could do better? Well, now you can! In <a href="{{ websitePlay }}" class="text-success"><b>{{ gameName }}</b></a>, you are the general manager of a {{ sport }} team.</p>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div id="carousel-screenshots" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3>Detailed scouting reports and stats.</h3>
            <img src="/files/carousel/{{ sport }}-light-10.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Manage your roster.</h3>
            <img src="/files/carousel/{{ sport }}-light-3.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Guide your team to the playoffs.</h3>
            <img src="/files/carousel/{{ sport }}-light-12.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>...and to a championship!</h3>
            <img src="/files/carousel/{{ sport }}-light-14.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Tanking is allowed.</h3>
            <img src="/files/carousel/{{ sport }}-light-7.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>...but try not to get fired!</h3>
            <img src="/files/carousel/{{ sport }}-light-2.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Plan ahead to manage the salary cap.</h3>
            <img src="/files/carousel/{{ sport }}-light-5.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Keep track of your revenue and expenses.</h3>
            <img src="/files/carousel/{{ sport }}-light-4.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Build your legacy.</h3>
            <img src="/files/carousel/{{ sport }}-light-6.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Play-by-play live box scores.</h3>
            <img src="/files/carousel/{{ sport }}-light-8.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Team and player advanced stats.</h3>
            <img src="/files/carousel/{{ sport }}-light-9.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Legendary players make the Hall of Fame.</h3>
            <img src="/files/carousel/{{ sport }}-light-11.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Deeply customizable.</h3>
            <img src="/files/carousel/{{ sport }}-light-13.png" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <h3>Create as many leagues as you want.</h3>
            <img src="/files/carousel/{{ sport }}-light-1.png" class="d-block w-100">
          </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-alt play py-4 py-lg-5 my-4 my-lg-5">
  <a class="btn btn-lg btn-success" href="{{ websitePlay }}">Start Playing Now</a>
</div>

<div class="container-fluid skinny mb-3 mb-lg-4">
  <div class="row">
    <div class="col-sm-6">
      <h2>You Set The Strategy</h2>
      <p>Running a {{ sport }} team requires you to make tough decisions.</p>
      <ul>
        <li>Should you re-sign a veteran player, or leave cap space open to sign a free agent?</li>
        <li>Should you draft a raw player who could be a star, or someone who can contribute right away?</li>
        <li>Should you trade away next season's draft pick for a player who can help you win now, or stockpile assets for the future?</li>
        <li>Should you raise ticket prices and annoy your fans, or can you cut part of your budget instead?</li>
      </ul>
      <p>Make the right choices and you can build a dynasty. But make the wrong choices and you'll get fired!</p>
    </div>

    <div class="col-sm-6">
      <h2>It's Actually Free</h2>
      <p>{{ gameName }} is completely 100% free and unlimited. <span class="text-highlight">No microtransactions, no virtual currency, no pay to win.</span> You can create as many leagues as you want and play as many seasons as you want, all without even creating an account.</p>
      <p>I know, you've been burned in the past by other "free" games. I know, you think there's some catch. But we really are different, and we've been that way ever since we started in 2008.</p>
      <h2>
        <div class="d-flex">
          <span class="mr-2">Real User Feedback</span>
          <button id="feedback-prev" class="feedback-button black-icon"><img src="/files/bootstrap-icons/arrow-left-short.svg" width="22" height="22" class="svg-button"></button>
          <button id="feedback-pause" class="feedback-button black-icon"><img src="/files/bootstrap-icons/pause.svg" width="22" height="22" class="svg-button"></button>
          <button id="feedback-play" class="feedback-button black-icon" style="display: none"><img src="/files/bootstrap-icons/play.svg" width="22" height="22" class="svg-button"></button>
          <button id="feedback-next" class="feedback-button black-icon"><img src="/files/bootstrap-icons/arrow-right-short.svg" width="22" height="22" class="svg-button"></button>
        </div>
      </h2>
      <p id="feedback"></p>
    </div>
  </div>
</div>

{% include "footer.njk" %}

<script>
//$("#carousel-screenshots").carousel();

var feedbacks = {{ feedbacks | safe }};

var elFeedback = document.getElementById("feedback");

var iFeedback = Math.floor(Math.random() * feedbacks.length)

function updateFeedback() {
  var feedback = feedbacks[iFeedback];
  elFeedback.innerHTML = '<a href="' + feedback.url + '">' + feedback.name + '<span class="feedback-text">: "' + feedback.text + '"</span></a>';
  iFeedback = (iFeedback + 1) % feedbacks.length;
}
updateFeedback();

var feedbackIntervalId;
var state = "play";

function startFeedback() {
  state = "play";
  feedbackIntervalId = setTimeout(function () {
    elFeedback.classList.add("fade-out");
    elFeedback.addEventListener("animationend", () => {
      updateFeedback();
      elFeedback.classList.remove("fade-out");
      elFeedback.classList.add("fade-in");
      elFeedback.addEventListener("animationend", () => {
        elFeedback.classList.remove("fade-in");
        if (state === "play") {
          startFeedback();
        }
      }, {
        once: true,
      });
    }, {
      once: true,
    });
  }, 6000);
}
startFeedback();

// Controls
var elFeedbackPlay = document.getElementById("feedback-play");
var elFeedbackPause = document.getElementById("feedback-pause");
elFeedbackPlay.addEventListener("click", function () {
  elFeedbackPlay.style.display = "none";
  elFeedbackPause.style.display = "inline-block";
  startFeedback();
});
elFeedbackPause.addEventListener("click", function () {
  elFeedbackPlay.style.display = "inline-block";
  elFeedbackPause.style.display = "none";
  clearTimeout(feedbackIntervalId);
  state = "pause";
});
document.getElementById("feedback-prev").addEventListener("click", function () {
  clearTimeout(feedbackIntervalId);
  state = "pause";
  iFeedback -= 2;
  iFeedback = ((iFeedback % feedbacks.length) + feedbacks.length) % feedbacks.length; // http://stackoverflow.com/a/3417242/786644
  updateFeedback();
  if (elFeedbackPlay.style.display === "none") {
    startFeedback();
  }
});
document.getElementById("feedback-next").addEventListener("click", function () {
  clearTimeout(feedbackIntervalId);
  state = "pause";
  updateFeedback();
  if (elFeedbackPlay.style.display === "none") {
    startFeedback();
  }
});
</script>
    </body>
</html>
